*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body
 {
      font-family: "Poppins", sans-serif;
 }
:root
{
    --main:#F9F1E7;
    --secondry:#B88E2F;
}
.main-bg
{
    background-color: var(--main);
}
.bg-secondry
{
    background-color: var(--secondry);
}
.text-secondary
{
    color:var(--secondry);
}
/* start products */
.products .types div
{
width: fit-content;
padding: 5px;
}
.products .types img
{
    width: 70px;
    height: 70px;
  
}
.products .col-5 div
{
padding: 100px 10px;
}

.products .colors .color
{
    width: 20px;
    height: 20px;
}
.products .colors .color:nth-child(1)
{
   background-color:#816DFA ;
}

.products .colors .color:nth-child(2)
{
   background-color:black ;
}
.products .colors .color:nth-child(3)
{
   background-color:var(--secondry) ;
}
.products button:first-child
{border: none;
    border:1px solid gray;
}
.offcanvas-body img
{
width: 100px;
height: 100px;
background-color: var(--main);
}
.bottom-canvas
{
    bottom: 5%;
}
.total span:nth-child(2)
{
    color: var(--secondry) !important;
}
/* end products */
/* start desc */
.desc .headings h2:not(:first-child),
.desc p
{
color:gray;
font-weight: 500;
}
/* end desc */
/* start related */
.related .pricing
{  
   padding: 15px 2px;
    margin: -20px 0; 
}
.related .pricing h2
{
    font-size: 20px;
    padding: 20px  10px;
}
.related .card
{

   background-color: #F4F5F7;
   margin: 20px 0;
}
.related img
{
   width: 100%;
   height: 350px;
}
.related .overlay
{
 background-color: #3a3a3ab8; 
 z-index: 99999;
 vertical-align: middle;
 left: 0;
 top: 100%;
 transition: all 1s ease;
}
.related button
{
padding: 3% 7%;
color: #B88E2F;
font-size: 15px;
font-weight: 600;

}
.related .overlay .write img
{
   width: 20px;
   height: 20px;
}
.card:hover .overlay
{
   top: 0;
}

.card:first-child::before,.card:nth-child(3)::before
,.card:last-child::before{
 position: absolute;
   top: 3%;
   right: 3%;
   border-radius: 50%;
   color: white;
   padding: 15px 10px;
}

.card:first-child::before
{
   content: "-30%";
   background-color:#E97171 ;
  
}
.card:nth-child(3)::before
{
   content: "-50%";
   background-color:#E97171 ;
   position: absolute;
  
}
.card:last-child::before
{
   content: "New";
   background-color:#2EC1AC ;
   position: absolute;
}
/* end related */
/* start footer */
hr
{
height: 1px;
background-color: gray;

}
footer ul li
{
    margin: 20px 0;
}
footer input
{
border: none;
border-bottom: 1px solid gray;
}
footer label
{
    font-weight: bold;
    border-bottom: 1px solid black;
}
/* end footer */
